* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

body {
    background: #1A1A1A;
    background: linear-gradient(
        100deg,
        #ccc,
        #1A1A1A
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}

header {
    text-shadow: 2px 2px 15px rgb(176, 230, 255);
    font-size: 1.2rem;
}

header,
form {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;

    background: #f4f4f4;
}

form button {
    padding: 0.5rem 1rem;
    color: #1A1A1A;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #1A1A1A;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    background: white;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

form input,
.todo {
    color: rgb(88, 87, 87);
}

.todo li {
    flex: 1;
}

.trash-btn,
.check-btn {
    background-color: #1A1A1A;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.2s all ease;
}

.check-btn {
    background-color: #FF5100;
}

.check-btn:hover {
    background-color: #FF5100;
    color: white;
}

.trash-btn:hover {
    color: white;
    background-color: #1A1A1A;
}

.todo-item {
    padding: 0rem 1.2rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.fall {
    animation: fall-apart 0.5s ease-out;
}

@keyframes fall-apart {
    100% {
        transform: rotateZ(20deg) translateY(8rem);
        opacity: 0;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.2em;
    color: #1A1A1A;
    width: 15rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #1A1A1A;
    top: 0;
    right: 0;
    padding: 1.2rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: white;
    color: #1A1A1A;
}

.sumir {
    display: none;
}

.corpo{
    background-image:url(imagens/javascript.png);
}
.login {
    display: flex;
    flex-direction: column;
    background-color: white;
   padding: 20px;
   width: 30%;
   box-shadow: #24232383;
   border-radius:50px;
   position: absolute;
   top: 36%;
   left: 35%;
   
   
}

form label {
    font-size: 1.5rem;
    padding: 2px 1;
}

#botaoentrar {
    margin-top: 3rem;
    font-size: 1rem;
    background-color: #1A1A1A;
    border-radius: 30px;
    border: 1px solid white;
    color: white;

}

.login input{
    padding: 0.5rem 0.5rem 0.5rem 5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    border-style: solid;
    box-shadow: #1a1a1ac4;
    background: #f4f4f4;
}

.login button {
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: linear 0.2s;
    position: relative;
    left: 8%;
}

#botaoentrar:hover {
    border-radius: 10px;
    background-color: #FF5100;

}
.botaoentrar:hover{
    border-radius: 10px;
    background-color: #FF5100;
}
.botaoentrar {
    margin-top: 3rem;
    font-size: 1rem;
    background-color: #1A1A1A;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: linear 0.2s;
    position: absolute;
    left: 78%;
    top: 27%;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login label {
    color: #1A1A1A;
}